<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }}{% if page.layout == 'default' %} - {{ site.name }}{% endif %}</title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="{% if page.layout == 'default' %}{{ site.description }}{% else %}{% if page.cover %}{{ content | split:'<!--more-->' | first | strip_html }}{% endif %}{% endif %}" />
  <meta name="viewport" content="width=device-width" />
  <meta name="viewport" content="initial-scale=1">
  <link rel="stylesheet" href="/static/css/foundation/normalize.css">
  <link rel="stylesheet" href="/static/css/foundation/foundation.css">
  <link rel="stylesheet" href="/static/css/pygments.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/foundation/vendor/modernizr.js"></script>
</head>
<body>

  <!-- This is initially hidden from view and toggled by a menu icon on the top right corner. -->
  {% include menu.html %}

    <!-- Header -->
  <header>
    <div class="row">
        <div class="large-12 columns">
           <h1>Lynn Nguyen</h1>
           <h4>Yup, it rhymes.</h4>
        </div>
    </div>
  </header>

  <div class="row">
    <div class="large-12 columns">