<nav id="mainNav" role="navigation">
    <span class="menuIcon icon {% if page.url == '/index.html'%} transparent {% endif %}" title="Menu (Esc)" tabindex="0" data-icon="m"><span>Menu</span></span>


  <div id="navigation">
    <p><span class="heading">Lynn Nguyen</span><br/>
      <span class="subheading">lkn@google.com</span></p>
    <p class="menu_label">Menu</p>

    <section>
          <ul class="side-nav">
            <li><a href="{{ site.url }}" class="home {% if page.url == '/index.html'%} current {% endif %}" title="Learn about me">Home</a></li>
        <li><a href="{{ site.url }}/portfolio.html" class="work {% if page.url == '/portfolio/'%} current {% endif %}" title="Check out my work">Portfolio</a></li>
        <li><a href="{{ site.url }}/blog/" class="blog {% if page.url == '/blog/'%} current {% endif %}" title="Read my blog">Blog</a></li>
          </ul>
      <ul>
    </section>
  </div>
</nav>