<nav id="mainNav" role="navigation">
    <span class="menuIcon icon" title="Menu" data-icon="m"><span>Menu</span></span>


  <div id="navigation">
    <p><span class="heading">Lynn Nguyen</span><br/>
      <span class="subheading">lkn@google.com</span></p>
    <p class="menu_label">Menu</p>

    <section>
          <ul class="side-nav">
            <li><a href="{{ site.url }}" class="home {% if page.url == '/index.html'%} current {% endif %}">Home</a></li>
        <li><a href="{{ site.url }}/portfolio.html" class="work {% if page.url == '/portfolio.html'%} current {% endif %}">Portfolio</a></li>
        <li><a href="{{ site.url }}/blog.html" class="blog {% if page.url == '/blog.html'%} current {% endif %}">Blog</a></li>
          </ul>
    </section>

  </div>
</nav>