header {
  #background: url(none) #074e68;
  background-size: cover;
  padding: 22px 0;
}
@media screen and (max-width: 768px) {
  header {
    #background: url(none) #074e68;
  }
}
header h1 {
  #color: white;
  font-weight: 300;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 30px;
    line-height: 31px;
  }
}
header h4 {
  color: #cccccc;
  font-weight: 300;
}

.infopage {
  display:none;
}

.inview {
  display:block !important;
}

/* adds padding to icons */
.menuIcon {
  padding: .5em;
  margin: .2em;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  color: #333;
  z-index: 1000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

/* hides menu icon at first */
.transparent:before {
  color: transparent !important;
}

.transition .menuIcon {
  opacity: 0;
}

.menuIcon:focus {
  outline: none;
}

/* icon colour */
.menuIcon:before, .menuIcon:active:before {
  color: #333;
}

/* changes colour on hover or keyboard focus */
.menuIcon:hover:before, .menuIcon:focus:before {
  color: #666;
}

/* changes icon to an “X” */
.expanded .menuIcon:before {
  content: 'x';
  line-height: 1em;
}
/* menu heading */
.heading {
  font-weight: 700;
  font-size: 2.4em;
  letter-spacing: -.05em;
  display: block;
  margin-bottom: -.5em;
}

/* menu subheading */
.subheading {
  font-family: Futura, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: .8em;
  padding-left: .35em;
  text-transform: uppercase;
  letter-spacing: .15em;
  color: #c80909;
}

/* label that says "Menu" */
.menu_label {
  font-family: Futura, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  display: inline;
}


/* main nav is absolute positioned */
#mainNav {
  color: #fff;
  position: absolute;
  top: 0;
  width: 5.5em;
  height: 96px;
  right: 0;
  z-index: 1000;
  text-align: right;
  -webkit-transform: translate3d(0,0,0); /* hardware acceleration */
  -moz-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform .1s;
  -moz-transition: -moz-transform .1s;
  -o-transition: -o-transform .1s;
  transition: transform .1s;
  /* flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* flexbox required property for vertical centering */
#mainNav.expanded, #mainNav.transition {
  height: 100%;
}

/* when hidden it goes up */
#mainNav.invisible {
  -webkit-transform: translate(0,-96px);
  -moz-transform: translate(0,-96px);
  -o-transform: translate(0,-96px);
  transform: translate(0,-96px);
  -webkit-transition: -webkit-transform .4s, opacity 3s;
  -moz-transition: -moz-transform .4s, opacity 3s;
  -o-transition: -o-transform .4s, opacity 3s;
  transition: transform .4s, opacity 3s;
  opacity: 0;
  overflow: hidden;
}

/* when shown & detached position is fixed */
#mainNav.detached {
  position: fixed;
  -webkit-transition: -webkit-transform .3s, opacity .3s;
  -moz-transition: -moz-transform .3s, opacity .3s;
  -o-transition: -o-transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s;
}

/* shows navigation */
#mainNav.expanded {
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  background: rgba(0,0,0,.85);
  -webkit-transform: translate3d(0,0,0); /* hardware acceleration */
  -moz-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

#navigation {
  width: 100%;
  -webkit-transform: translate(0,-500px);
  -moz-transform: translate(0,-500px);
  -o-transform: translate(0,-500px);
  transform: translate(0,-500px);
  -webkit-transition: -webkit-transform .25s;
  -moz-transition: -moz-transform .25s;
  -o-transition: -o-transform .25s;
  transition: transform .25s;
}

/* in landscape orientation make font-size of navigation smaller to fit in height of screen */
@media screen and (max-device-width: 768px) and (orientation:landscape) {
  #navigation {
    margin-top: 3.2em;
    font-size: .875em;
    line-height: 1.4em;
  }
}

/* show navigation */
.expanded #navigation {
  -webkit-transform: translate3d(0,0,0); /* hardware acceleration */
  -moz-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* hides background faster during transition */
#mainNav.transition {
  background: transparent;
  -webkit-transition: background .2s;
  -moz-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s;
}

/* hide navigation before hiding everything (transition) */
.transition #navigation {
  -webkit-transform: translate(0,-500px);
  -moz-transform: translate(0,-500px);
  -o-transform: translate(0,-500px);
  transform: translate(0,-500px);
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  -o-transition: -o-transform .3s;
  transition: transform .3s;
}

/* adds transition */
#container {
  -webkit-transition: -webkit-transform .25s, -webkit-filter .2s;
  -moz-transition: -moz-transform .25s, -moz-filter .2s;
  -o-transition: -o-transform .25s, -o-filter .2s;
  transition: transform .25s, filter .2s;
}

/* rescale the content */
#container.blurred {
  -webkit-transform: scale(.95, .99);
  -moz-transform: scale(.95, .99);
  -ms-transform: scale(.95, .99);
  -o-transform: scale(.95, .99);
  transform: scale(.95, .99);
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .2s;
  -o-transition: -o-transform .2s;
  transition: transform .2s;
}
