{% for dayone in page.dayones %}
<div class="dayone page">
  <div class="container">
    <div class="row-fluid">
      <div class="container-narrow">
        <div class="span12">
<h1 class="dayone_title">{{ dayone.title_text }}</h1>
<div class="timestamp">{{ dayone.creation_date | date_to_long_string }}</div>

  {{ dayone.entry_text | markdownify }}

        </div>  <!-- .span12 -->
      </div>  <!-- .container-narrow -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</div> <!-- .dayone -->

{% endfor %}
