
/* Blog List */

#bloglist .post {
  margin-bottom: 30px;
  position: relative;
}

#bloglist .post .title {
  font-family: "museo-sans",sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  padding: 5px;
}

#bloglist .post .title .date {
  font-family: "calluna",serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

#bloglist .post .background {
  min-height: 50px;
}

#bloglist .post .background-title {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.3);
}

#bloglist .post .background-title .date,
#bloglist .post .background-title a {
  color: #FFF;
}

#bloglist .post .text-title a {
  padding-left: 50px;
  background: transparent url('/gfx/feather.svg') no-repeat left top;
  background-size: 50px 50px;
}

li {
  font-family: "calluna",serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

/* Blog Post */

#blogpost iframe {
  border: 0;
}

#blogpost p {
  text-align:justify;
}

#blogpost .tooltip-inner {
  font-family: "calluna",serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

#navigation {
  clear: both;
  margin-top: 20px;
  margin-bottom: 10px;
}

#navigation a,
#post-header .title,
#post-header .date {
  font-family: "nimbus-sans",sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

#post-header .title {
  font-size: 20px;
  text-align: center;
}

#post-header .date {
  font-size: 14px;
  text-align: center;
}

#navigation .next {
  float: right;
  margin-right: -12px;
}

#navigation .previous {
  float: left;
  margin-left: -12px;
}

/* TODO: Move to portfolio.css */
.narrow-top-space {
  padding-top: 20px;
}

.opposite-align h1,
.opposite-align h2,
.opposite-align h3 {
  text-align: right;
}

.lessons_green {
  background-color: #F2FFF2;
}

.lessons_orange {
  background-color: #FFFAF2;
}

.lessons_grey {
  background-color: #F5F5F4;
}

#geomap {
  background: #FFF url('http://jeffverkoeyen.com/gfx/gmm_background_tile.png') repeat left top;
  background-size: 40px 40px;
  padding: 0;
  position: relative;
  height: 400px;
}

.geomap-frame {
  width: 100%;
  height: 400px;
}

#geomap .geomap-overlay {
  position: absolute;
  top: 0;
  height: 400px;
  width: 100%;
}

#dayone_toc {
  background-image: url('/gfx/dayone_ribbon.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -10px;
}

#dayone_toc .toc_header {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

#dayone_eating .dayone_header {
  text-align: center;
  color: #666;
}

#dayone_eating .row-fluid {
  margin-bottom: 40px;
}

#dayone_toc li {
  list-style-type: none;
  font-family: "calluna",serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-top: 3px;
}

#dayone_toc .toc_thumbnail {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  margin: 10px;
  margin-top: -3px;
  margin-right: 20px;
  text-align: center;
}

#dayone_toc .toc_thumbnail svg {
  margin-top: 9px;
  margin-left: 2px;
}

.svg_icon {
  fill: #666;
}

.svg_container {
  width: 30px;
  height: 30px;
}

.dayone .default_svg,
#dayone_toc .default_svg {
  width: 50px;
  height: 50px;
}

#dayone_toc .toc_thumbnail .default_svg {
  margin: 0;
}

#dayone_toc ul {
  margin: 0;
}

.dayone_icon {
  margin-top: -45px;
  margin-bottom: 10px;
  text-align: center;
}

.dayone .default_svg {
  margin-top: -10px;
  margin-bottom: -10px;
}

.dayone_icon svg .svg_icon {
  fill: #999;
}

#dayone_toc li .toc_thumbnail,
#dayone_toc li .toc_thumbnail img {
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
}

#dayone_toc li .timestamp {
  color: #999;
  font-size: 14px;
  line-height: 20px;
}

#dayone_toc li .dots {
  height: 32px;
  margin-top: -2px;
  margin-bottom: 8px;
  background-image: url("/gfx/dot.png");
  background-repeat: repeat-y;
  background-position-x: 34px;
}

.dayone .dayone_pic {
  text-align: center;
}

.dayone .dayone_title {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.dayone .timestamp {
  font-family: "nimbus-sans",sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.dayone table {
  font-family: "nimbus-sans",sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.dayone table thead {
  border-bottom: 1px solid #DDD;
}

.dayone table td {
  border-right: 1px solid #EEE;
  padding: 5px;
}

.dayone table tr td:last-child {
  border-right: none;
}

@media (max-width: 767px) {
  #bloglist .post {
    margin-bottom: 20px;
  }
  #bloglist .post .title {
    font-size: 30px;
    line-height: 30px;
  }
  #geomap,
  #geomap .geomap-overlay,
  .geomap-frame {
    height: 300px;
  }
}

@media (max-width: 480px) {
  #geomap,
  #geomap .geomap-overlay,
  .geomap-frame {
    height: 200px;
  }
}

@media (max-width: 320px) {
  #navigation .next {
    margin-right: 0;
  }

  #navigation .previous {
    margin-left: 0;
  }

}

@media (max-width: 480px) {
  .page [class*="span"],
  .page .uneditable-input[class*="span"],
  .page .row-fluid [class*="span"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  #bloglist .post {
    margin-bottom: 10px;
  }
  #bloglist .post .title {
    font-size: 20px;
    line-height: 20px;
  }
  #bloglist .post .background-title .date {
    font-size: 14px;
    line-height: 14px;
  }
  #bloglist .post .text-title a {
    padding-left: 30px;
    background-size: 30px 30px;
  }
  #dayone_toc {
    background-position-y: -30px;
  }
  #dayone_toc h1 {
    margin-bottom: 20px;
  }
  #dayone_toc ul {
    margin-left: 0;
  }
  
  .dayone_icon {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
  }
}