<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lynn Nguyen</title>

  <link rel="stylesheet" href="/static/css/foundation/normalize.css">
  <link rel="stylesheet" href="/static/css/foundation/foundation.css">
  <link rel="stylesheet" href="/static/css/pygments.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/foundation/vendor/modernizr.js"></script>
</head>
<body>
<header>
   <div class="row">
      <div class="large-12 columns">
         <h1>Lynn Nguyen</h1>
         <h4>Yup, it rhymes.</h4>
      </div>
   </div>
</header>

<div class="row">
  {{ content }}
</div>

  <script src="/static/js/foundation/vendor/jquery.js"></script>
  <script src="/static/js/foundation/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
