<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lynn Nguyen</title>

  <link rel="stylesheet" href="/static/css/foundation/normalize.css">
  <link rel="stylesheet" href="/static/css/foundation/foundation.css">
  <link rel="stylesheet" href="/static/css/pygments.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/foundation/vendor/modernizr.js"></script>
</head>
<body>

<!-- Main content is wrapped inside the navigation bar. -->
<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <!-- reference: view-source:http://foundation.zurb.com/docs/? -->
    <nav class="tab-bar show-for-small">
      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
      </section>
    </nav>

    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Users</label></li>
        <li><a href="#">Hari Seldon</a></li>
        ...
      </ul>
    </aside>

    <section class="main-section">

        <!-- Header -->
        <header>
           <div class="row">
              <div class="large-12 columns">
                 <h1>Lynn Nguyen</h1>
                 <h4>Yup, it rhymes.</h4>
              </div>
           </div>
        </header>
    
        <div class="row">
          <div class="medium-4 columns">
          {{ content }}
          </div>
          <div class="medium-4 columns">
            <div class="hide-for-small">
            <ul class="side-nav">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
            </div>
          </div>
        </div>
    </section>

    <a class="exit-off-canvas"></a>
  </div>
</div>

  <script src="/static/js/foundation/vendor/jquery.js"></script>
  <script src="/static/js/foundation/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
